/*=== LOCAL FONT ===*/
@font-face {
    /* Font's name in the files local */
    font-family: 'arial-rounded-mt-bold-regular';
    /* Adress */
    src: url('./assets/fonts/arial_rounded_mt_bold_regular.ttf')
        /* File's format identifier */
        format('truetype')
        /* Instructions are in the font's file folder */
}

/*=== CSS GENERAL RESET ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial-rounded-mt-bold-regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #181a1b;
    /* Box model */
    width: 100%;
    min-height: 100vh;

    font-size: 1.6rem;
}

/*=== SCALABLE PROPERTIES ===*/

/* general alignment */
.general-central-alignment {
    /*Flex box*/
    display: flex;
    /* current main-axis */
    flex-direction: column;
    /* cross-axis */
    align-items: center;
}

.general-ipc-alignment {
    /* Flex Box */
    display: flex;
    flex-direction: column; 
}

/* general background-color */
.gn-bg-color {
    background-color: #808080;
}

/* type file background-color */
.tp-file-bg-color {
    background-color: #FFFFFF;
}

/* general file selector button-bg-color */
.general-fsb-bg-color::file-selector-button {
	background-color: transparent;
}




/*=== HEADER ===*/
.header {
    /* Box model*/
    width: 100%;
    height: auto;

    padding: 1rem;

    /*Flex box*/
    display: flex;
    /* main-axis direction */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /*  cross-axis */
    align-items: center;
}

/*=== IMAGES ===*/
.cdhm-icon {
    width: 28.4rem;
    height: 25.3rem;

    margin-left: 18rem;

    display: block;

    /* background-color: blue; */
}

/*=== HEADINGS ===*/
.headings {
    /* background-color: rebeccapurple; */
    color: #FFFFFF;
    width: 115rem;
    height: auto;
}

.title {
    font-family: 'Times New Roman';
    font-size: 12.5rem;
}

.subtitle {
    font-size: 5rem;
}

.form-title {
    /* background-color: #000000; */
    margin-top: 2.5rem;
    margin-left: -8.5rem;
    font-size: 8rem;
}

/*=== FORMULARY ===*/
.formulary {
    /*Box model*/
    width: 115rem;
    height: auto;

    margin: 7rem 18rem 6.9rem 18rem;
    border-radius: 25px;

    /* Colors */

    /* font-color */
    color: #FCF0F9;
}

/*=== PEOPLE'S DATA ===*/

/* People's data section */
.pps-data-section {
    width: auto;
    height: auto;
    border: none;
    /* background-color: darkviolet; */
    margin-top: 2.5rem;
}

/* Section's title */
.sections-title {
    /* background-color: black; */
    width: 100%;
    margin-left: 3rem;
    font-size: 7rem;
}

.frd-font-size {
    font-size: 6.4rem;
}

/* Fieldset Personal Data */
.personal-data {
    width: 105rem;
    height: auto;
    border: none;
    margin-top: 3.2rem;
    margin-bottom: 3.87rem;
    /* background-color: green; */
}

/* Fieldset's title */
.fs-legend {
    /* background-color: darkslategray; */
    padding: 0rem 0 0 3rem;
    margin-bottom: 2.64rem;

    font-size: 5.5rem;
    font-weight: bold;
}




/* General settings for personal data divs */
.personal-data div {
    /* background-color: blue; */
    /* Box model */
    width: 98rem;
    height: auto;
}

/*=== COLOR FOR ALL PLACEHOLDERS ===*/
fieldset div input::placeholder {
    color: #BDBCBC;
}

/*=== FULL NAME ===*/

/* General settings for full name */
.full-name {
    /* background-color: blue; */
    font-size: 4.5rem;
}

/* Input title settings */
.full-name label {
    /* Box model */
    margin-bottom: 1.404rem;

    cursor: pointer;
}

/* Input settings */
.full-name input {
    /* Box model */
    height: 5.113rem;
    padding: 1.3rem 0 1.5rem 1.5rem;
    border-radius: 25px;
    border: none;

    /* font settings */
    font-size: 3.2rem;
}

/*=== BIRTH DATE ===*/

/* General settings to birth date */
.birth-date {
    /* Box model */
    margin-top: 0.902rem;

    /* background-color: darkblue; */

    /* Font's settings */
    font-size: 4.5rem;
}

/* Birth date title settings */
.birth-date label {
    /* Box model */
    margin-bottom: 1rem;

    cursor: pointer;
}

/* Input settings */
.birth-date input {
    /* Box model */
    height: 5.113rem;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 2.5rem;
    border: none;

    /* Font's settings */
    font-size: 3rem;
}

/* Off focus settings */
/* birth-date text color */
.birth-date input {
    color: #BDBCBC;
}

/* Calendar icon */
.birth-date input::-webkit-calendar-picker-indicator {
    opacity: 0.2;
}

/* On focus settings */

/* Birth date color */
.birth-date input:focus {
    color: black;
}

/* Calendar icon color */
.birth-date input:focus::-webkit-calendar-picker-indicator {
    opacity: 1.0;
}

/*=== CPF ===*/

/* General CPF settings */
.cpf {
    /* background-color: darkgray; */
    /* Box model */
    margin-top: 0.902rem;

    /* Font settings */
    font-size: 4.5rem;
}

/* Label settings */
.cpf label {

    /*Box model*/
    margin-bottom: 1.404rem;

    /* Cursor settings */
    cursor: pointer;
}

/* Input settings */
.cpf input {
    /* Box model */
    height: 5.113rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 3.2rem;
}

/*=== RG ===*/

.rg {
    /* background-color: darkgray; */
    /* Box model */
    margin-top: 0.902rem;

    /* Font settings */
    font-size: 4.5rem;
}

/* Label settings */
.rg label {

    /*Box model*/
    margin-bottom: 1.404rem;

    /* Cursor settings */
    cursor: pointer;
}

/* Input settings */
.rg input {
    /*Box model*/
    height: 5.113rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 3.2rem;
}

/*=== SEX ===*/

/* General section settings */
.sex {
    /* background-color: green; */

    width: 98rem;
    height: auto;

    border: none;
    margin-top: 0.902rem;

    /* Flex box */
    display: flex;
    /* current main-axis */
    flex-direction: row;
}

/* Section's title */
.sex .sex-option-title {
    /* background-color: darkviolet; */
    /* Font settings */
    font-size: 4.5rem;
}

/* Sex options settings */
.sex div {
    /*Box model*/
    width: auto;
    height: auto;

    /* Flex box */
    display: flex;
    /* current main-axis */
    flex-direction: row;
}

/* General label settings */
.sex label {
    /* Box model */
    margin-left: 0.3rem;

    /* Font settings */
    font-size: 2.5rem;

    /* Cursor settings */
    cursor: pointer;
}

/* General input settings */
.sex input {
    /*Box model*/
    width: 2.5rem;
    height: 3rem;
}

.sex .female {
    margin-left: 1rem;
}

/*=== NACIONALITY ===*/

.nationality {
    /* background-color: darkgray; */
    /* Box model */
    margin-top: 0.902rem;

    /* Font settings */
    font-size: 4.5rem;
}

/* Label settings */
.nationality label {

    /* Box model */
    margin-bottom: 1.404rem;

    /* Cursor settings */
    cursor: pointer;
}

/* Input settings */
.nationality input {
    /* Box model */
    height: 5.113rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 3.2rem;
}

/*=== NATURALIDADE ===*/

.naturality {
    /* background-color: #000; */

    /*Box model*/
    width: 98rem;
    height: auto;

    border: none;
    margin-top: 0.902rem;

    /* Flex box */
    display: flex;
    /* current main-axis */
    flex-direction: row;
    gap: 1rem;

    /* Font settings */
    font-size: 4.5rem;
}

/* UF */
.naturality #natu-state {
    /* Box model */
    width: 25rem;
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;

    /* Font settings */
    font-size: 3.2rem;
    color: #BDBCBC;
}

/* City */
.naturality #natu-city {
    /* Box model */
    width: 100%;
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 3.2rem;
    color: #BDBCBC;
}


/*=== ADRESS ===*/

/* Fieldset adress */
.adress {
    background-color: blue;
    width: 105rem;
    height: auto;
    border: none;
    margin-bottom: 4.173rem;
}

/* Paragraph's duos */
.duos {
    width: 98rem;
    height: auto;

    display: flex;
    flex-direction: row;
    /* main-axis */
    justify-content: center;

    gap: 1.104rem;
}

/* Duo's visual identification */
.duo-a {
    /*background-color: lightgreen;*/
    margin-top: 0.8rem;
}

.duo-b {
    /*background-color: yellow;*/
    margin-top: 0.474rem;
}

.duo-c {
    /* background-color: green; */
    margin-top: 0.474rem;
}

/* Paragraphs */

/* General adress inputs settings */
.adress .duos div {
    /* background-color: #000000; */
    width: 49rem;
}

/*=== Zip Code ===*/
.adress .duo-a .zip-code {
    font-size: 4.5rem;
}

.adress .duo-a .zip-code label {
    cursor: pointer;
}

.adress .duo-a .zip-code input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== House number ===*/
.adress .duo-a .house-number {
    font-size: 4.5rem;
}

.adress .duo-a .house-number label {
    cursor: pointer;
}

.adress .duo-a .house-number input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Street ===*/
.adress .duo-b .street {
    font-size: 4.5rem;
}

.adress .duo-b .street label {
    cursor: pointer;
}

.adress .duo-b .street input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Neighborhood ===*/
.adress .duo-b .neighborhood {
    font-size: 4.5rem;
}

.adress .duo-b .neighborhood label {
    cursor: pointer;
}

.adress .duo-b .neighborhood input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== City ===*/
.adress .duo-c .city {
    font-size: 4.5rem;
}

.adress .duo-c .city label {
    cursor: pointer;
}

.adress .duo-c .city input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== State ===*/

.adress .duo-c .state {
    font-size: 4.5rem;
}

.adress .duo-c .state label {
    cursor: pointer;
}

.adress .duo-c .state input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Complement ===*/
.adress .complement {
    /* background-color: darkolivegreen; */
    width: 98rem;
    height: auto;
    margin-top: 0.893rem;
    font-size: 4.5rem;
}

.adress .complement label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.adress .complement input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== CONTACT ===*/

/* Contact general settings */
.contact {
    /* background-color: indigo; */
    width: 105rem;
    height: auto;
    border: none;
    margin-bottom: 4.626rem;
}

/* Fieldset's title */
.contacts-legend {
    padding: 0 0 0 3rem;

    font-size: 7rem;
    font-weight: bold;

    /* background-color: gray; */
}

/* General contact paragraph settings */
.contact div {
    /* background-color: #000000; */

    width: 98rem;
    height: auto;
}

/*=== CELL PHONE NUMBER ===*/

/* Cellphone number settings */
.phone-number {
    /* background-color: deepskyblue; */
    margin-top: 2.5rem;
    font-size: 4.5rem;
}

/* Input title settings */
.phone-number label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

/* Input settings */
.phone-number input {
    height: 5.113rem;
    padding: 1.5rem 0 1.8rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 3.2rem;
}

/*=== E-MAIL ===*/

/* General email settings */
.email {
    /* background-color: brown; */
    margin-top: 3.409rem;
}

/* Input title's settings */
.email label {
    font-size: 4.5rem;
    margin-bottom: 0.3rem;
}

/* Input settings */
.email input {
    height: 5.113rem;
    padding: 0 0 0.7rem 1rem;
    border-radius: 25px;
    border: none;
    font-size: 3.2rem;
}

/*=== HEALTH INFO ===*/
.health-info {
    /* background-color: darkslategray; */
    width: 100%;
    height: auto;
    border: none;
}

/* DISABILITY */
.health-info .pcd-yn {
    /* background-color: aqua; */
    border: none;
    margin-top: 4.2rem;
}

.health-info .pcd-yn .pcd-title {
    /* background-color: darkblue; */

    /* Box model */
    margin-left: 3rem;

    /* Font settings */
    font-size: 4.5rem;
}

.health-info .pcd-yn .pcd-options {
    /* background-color: dodgerblue; */

    /* Box model */
    width: auto;
    height: auto;

    margin: 3rem 0 0 3rem;

    /* Flex box */
    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /* cross-axis */
    align-items: center;
}

/* General label settings */
.health-info .pcd-yn .pcd-options label {
    /* background-color: brown; */

    /* Box model */
    margin-left: 0.3rem;

    /* Font settings */
    font-size: 2.5rem;

    /* Cursor settings */
    cursor: pointer;
}

/* General input settings */
.health-info .pcd-yn .pcd-options input {
    /* Box model */
    width: 2.5rem;
    height: 3rem;
}

/* Yes or no */
.health-info .pcd-yn .pcd-options .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.health-info .pcd-yn .pcd-options .option-no {
    margin-left: 1rem;
}

/* Disability name */

.disa-name-container {
    /* background-color: #000000; */

    margin: 2.287rem 0 0 3rem;
}

.disa-name {
    font-size: 4rem;
}

.health-info .pcd-yn #disa-name {
    /* background-color: black; */

    display: block;

    width: 98rem;
    height: 5.1rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    margin: 2.287rem 0 0 0;

    font-size: 3.2rem;
}



/* Medica report file */
.health-info .pcd-yn .medical-report {
    /* background-color: blue; */
    margin: 2.287rem 0 0 3rem;
}

.health-info .pcd-yn .medical-report label {
    font-size: 4rem;
}

.health-info .pcd-yn .medical-report input {
    width: 98rem;
    padding: 0.5rem;
    border-radius: 2.5rem;
    margin-top: 1.2rem;

    display: block;

    font-size: 1.6rem;
    color: black;
}

.health-info .pcd-yn .medical-report input::file-selector-button {
    border: none;

    font-size: 3.2rem;
    font-family: 'arial-rounded-mt-bold-regular', Arial, Helvetica, sans-serif;
    color: #BDBCBC;

    cursor: pointer;
}

.health-info .pcd-yn .medical-report input::file-selector-button:hover {
    color: #000000;
}




/* Does the student has any ALLERGY? */
.health-info .allergy-yn {
    margin-top: 4.2rem;
    border: none;
    /* background-color: aqua; */
}

.health-info .allergy-yn .allergy-title {
    /* background-color: darkblue; */

    /* Box model */
    margin-left: 3rem;

    /* Font settings */
    font-size: 4.5rem;
}

.health-info .allergy-yn .allergy-options {
    /* background-color: dodgerblue; */

    /* Box model */
    width: auto;
    height: auto;

    margin: 3.4rem 0 0 3rem;

    /* Flex box */
    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /* cross-axis */
    align-items: center;
}

/* General label settings */
.health-info .allergy-yn .allergy-options label {
    /* background-color: brown; */

    /* Box model */
    margin-left: 0.3rem;

    /* Font settings */
    font-size: 2.5rem;

    /* Cursor settings */
    cursor: pointer;
}

/* General input settings */
.health-info .allergy-yn .allergy-options input {
    /*Box model*/
    width: 2.5rem;
    height: 3rem;
}

/* Yes or no */
.health-info .allergy-yn .allergy-options .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.health-info .allergy-yn .allergy-options .option-no {
    margin-left: 1rem;
}

/* Allergy name */ 
.allergy-name-container {
    /* background-color: blue; */

    margin: 2.287rem 0 0 3rem;
}

.allergy-name {
    font-size: 4rem;
}

.health-info .allergy-yn #allergy-name {
    /* background-color: yellow; */

    display: block;

    width: 98rem;
    height: 5.1rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    margin: 2.287rem 0 0 0; 

    font-size: 3.2rem;
}


/* MedicaL report file */
.health-info .allergy-yn .medical-report {
    /* background-color: blue; */
    margin: 2.287rem 0 0 3rem;
}

.health-info .allergy-yn .medical-report label {
    font-size: 4rem;
}

.health-info .allergy-yn .medical-report input {
    /* width: 27.8rem; */
    width: 98rem;
    padding: 0.5rem;
    border-radius: 2.5rem;
    margin-top: 1.2rem;

    display: block;

    font-size: 1.6rem;
    color: black;
}

.health-info .allergy-yn .medical-report input::file-selector-button {
    border: none;

    font-size: 3.2rem;
    font-family: 'arial-rounded-mt-bold-regular', Arial, Helvetica, sans-serif;
    color: #BDBCBC;

    cursor: pointer;
}

.health-info .allergy-yn .medical-report input::file-selector-button:hover {
    color: #000000;
}

/* GENERAL INFO */
.general-info {
    margin: 3.17rem 0 0 0;
}

.gi-title {
    font-size: 4rem;
    margin: 0 0 1rem 3rem;
}

#gi-textarea {
    width: 98rem;
    height: 30rem;
    padding: 1.5rem;
    border: none;
    border-radius: 25px;
    margin: 0 0 0 3rem;
    font-size: 2rem;
}

/* STUTENT'S PHOTO */

.students-photo {
    /* background-color: black; */
    margin: 9.8rem 0 0 0;
    border: none;
}

.sf-title {
    /* background-color: aqua; */
    font-size: 5.5rem;
    margin: 0 0 0 3rem;
}

.students-photo div {
    /* background-color: lightgray; */
    padding: 1.6rem 0 0 0;
    margin: 0 0 0 3rem;
}

.students-photo label {
    /* background-color: blue; */
    font-size: 2.5rem;
}

.students-photo input {
    width: 98rem;
    padding: 0.5rem;
    border: none;
    border-radius: 2.5rem;
    margin-top: 1.2rem;

    display: block;

    font-size: 1.6rem;
    color: black;
}

.students-photo input::file-selector-button {
    border: none;

    font-size: 3.2rem;
    font-family: 'arial-rounded-mt-bold-regular', Arial, Helvetica, sans-serif;
    color: #BDBCBC;

    cursor: pointer;
}

.students-photo input::file-selector-button:hover {
    color: #000000;
}

/*=== Button CONTINUAR ===*/

.botao-enviar button {
    width: 98rem;
    height: 5.113rem;
    border: none;
    border-radius: 25px;
    margin-bottom: 4.6rem;

    background-color: #003366;
    color: white;
    font-size: 4.8rem;
    font-weight: bold;
    cursor: pointer;
}

.botao-enviar button:hover {
    border: none;
    border-radius: 25px;
    background-color: #00DFFF;
    color: #fff;
}

/*=== FOOTER ===*/
.footer {
    height: 10rem;
    border-top: 0.1rem solid black;
    margin-top: 5rem;

    color: white;
    font-size: 3rem;


    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: space-around;
    /* cross-axis */
    align-items: center;
}