/* Importando a fonte hospedada localmente */
@font-face {
    /* Nome da fonte local no arquivo */
    font-family: 'arial-rounded-mt-bold-regular';
    /* Caminho */
    src: url('./assets/fonts/arial_rounded_mt_bold_regular.ttf') 
    /* Identificador de formato de arquivo */
    format('truetype') /* Instruções na pasta do arquivo da fonte */
}

/*================CSS general reset===================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial-rounded-mt-bold-regular', Arial, Helvetica, sans-serif;
}

html {
    /* Defining root as 62.5% for accessibility */
    font-size: 62.5%;
}

body {
    /* Box model */
    width: 100%;
    min-height: 100vh;
    /* Temporary background color */
    background-color: black;
    /* General font settings */
    font-size: 1.6rem;
}

/*================HEADER===================*/
.header {
    /* Box model*/
    width: 100%;
    height: auto;

    padding: 1rem;

    /* Cores */
    background-color: #808080;
}

/*================Header content===================*/
.header-content {
    /* background-color: aqua; */    
    width: 100%;
    height: auto;

    padding: 1rem;

    /*Flex box*/
    display: flex;
    /* main-axis direction */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /*  cross-axis */
    align-items: center;
}

/*================Images===================*/
.cdhm-icon {
    width: 28.4rem;
    height: 25.3rem;
    
    margin-left: 180px;

    display: block;

    /* background-color: blue; */
}

/*================Headings===================*/
.headings {
    /* background-color: rebeccapurple;  */
    color: #FFFFFF;
    width: 115rem;
    height: auto;

    /* Flex box */
    display: flex;
    flex-direction: column;
    /* cross-axis */
    align-items: center;
}

.heading-1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12.5rem;
}

.heading-2 {
    font-size: 5rem;
}

.heading-3 {
    font-size: 4.5rem;
}

/*================MAIN CONTENT===================*/

/*================Main content===================*/
/* main content */
.main-content {
    /* Flex box */
    display: flex;
    justify-content: center;
}

/*================Formulary===================*/
.formulary {
    /*Box model*/
    width: 115rem;
    height: auto;
    
    margin: 7rem 18rem 6.9rem 18rem;
    border-radius: 25px;

    /* padding-bottom: 5rem; */

    /*Flex box*/
    display: flex;
    /*Eixo principal ativo*/
    flex-direction: column;
    /*Eixo principal*/
    justify-content: start;
    /*Eixo transversal*/
    align-items: center;

    /*Cores*/

    /*Cor de fundo*/
    background-color: #808080;
    /*Cor da fonte*/
    color: #FCF0F9;
}

/*================STUDENT'S DATA===================*/
.students-data {
    width: auto;
    height: auto;
    background-color: darkviolet;
    padding-top: 3.5rem;
}

.students-data-title {
    background-color: black;
    width: 100%;
    padding-left: 3rem;
    font-size: 7rem; 
}

.contact {
    background-color: indigo;
}

.adress {
    background-color: blue;
}

/* Fieldset Personal Data */
.personal-data {
    width: 105rem;
    height: auto;
    /* border: none; */
    margin-top: 3.2rem;
    margin-bottom: 38.7px;
    background-color: green;

    display: flex;
    flex-direction: column;
    /*Eixo transversal*/
    align-items: center;
} 

/* Fieldset's title */
.legenda-1 {
    background-color: darkslategray;
    padding: 0rem 0 0 3rem;
    margin-bottom: 2.64rem;

    font-size: 5.5rem;
    font-weight: bold;
}

/* General settings for personal data divs */
.personal-data div {
    /*Box model*/
    width: 98rem;
    height: auto;
    
    /*Flex Box*/
    display: flex;
    flex-direction: column;
}

/*================COLOR FOR ALL PLACEHOLDERS===================*/
fieldset div input::placeholder {
    color: #BDBCBC;
}

/*================Full name===================*/

/* General settings for full name */
.full-name {
    /* background-color: lightblue; */
    font-size: 45px;
}

/* Input title settings */
.full-name label {
    /*Box model*/ 
    margin-bottom: 14.04px;

    cursor: pointer;
}

/*Definições do input*/
.full-name input {
    /*Box model*/
    height: 51.13px;
    padding: 13px 0 15px 15px;
    border-radius: 25px;
    border: none;

    /*Definições de fonte*/
    font-size: 32px;
}

/*================BIRTH DATE===================*/ 

/* General settings to birth date */
.birth-date {
    /* Box model */
    margin-top: 0.902rem;

    /* background-color: darkblue; */

    /* Font settings */
    font-size: 4.5rem;
}

/* Birth date title settings */
.birth-date label {
    /*Box model*/
    margin-bottom: 1rem;

    cursor: pointer;
}

/* Input settings */
.birth-date input {
    /*Box model*/
    height: 5.113rem;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 2.5rem;
    border: none;
    
    /*Definições da fonte*/
    font-size: 3rem;
}

/* Off focus settings */
/*Cor do texto de data-nascimento*/
.birth-date input {
    color: #BDBCBC;
}
/* Calendar icon */
.birth-date input::-webkit-calendar-picker-indicator {
    opacity: 0.2;
}

/* On focus settings */

/* Birth date color */
.birth-date input:focus {
    color: black; 
}

/* Calendar icon color */ 
.birth-date input:focus::-webkit-calendar-picker-indicator {
    opacity: 1.0;
}

/*================CPF===================*/

/* General CPF settings */
.cpf {
    /*background-color: darkgray;*/
    /*Box model*/
    margin-top: 9.02px;

    /* Font settings */ 
    font-size: 4.5rem;
}

/* Label settings */ 
.cpf label {

    /*Box model*/ 
    margin-bottom: 14.04px;

    /* Cursor settings */
    cursor: pointer;
}

/* Input settings */ 
.cpf input {
    /*Box model*/
    height: 51.13px;
    padding: 15px 0 15px 15px;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 32px;
}

/*================RG===================*/

.rg {
    /*background-color: darkgray;*/
    /*Box model*/
    margin-top: 9.02px;

    /* Font settings */ 
    font-size: 4.5rem;
}

/* Label settings */ 
.rg label {

    /*Box model*/ 
    margin-bottom: 14.04px;

    /* Cursor settings */
    cursor: pointer;
}

/* Input settings */ 
.rg input {
    /*Box model*/
    height: 51.13px;
    padding: 15px 0 15px 15px;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 32px;
}

/*================SEXO===================*/

/* General section settings */
.sex {
    margin-top: 9.02px;
}

/* Section's title */
.sex .title {
    /* Font settings */ 
    font-size: 45px;
}

/* Sex options settings */
.sex div {
    /*Box model*/
    width: auto;
    height: auto;

    /* Flex box */
    display: flex;
    /* main axis direction */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /* cross-axis */
    align-items: center;    
}

/* General label settings */
.sex label {
    /* Box model */
    margin-left: 0.3rem;

    /* Font settings */
    font-size: 2.5rem;

    /* Cursor settings */
    cursor: pointer;
}

/* General input settings */
.sex input {
    /*Box model*/
    width: 2.5rem;
    height: 3rem;
}

.sex .female {
    margin-left: 1rem;
}

/*================NACIONALIDADE===================*/

.nationality {
    /*background-color: darkgray;*/
    /*Box model*/
    margin-top: 9.02px;

    /* Font settings */ 
    font-size: 4.5rem;
}

/* Label settings */ 
.nationality label {

    /*Box model*/ 
    margin-bottom: 1.404rem;

    /* Cursor settings */
    cursor: pointer;
}

/* Input settings */ 
.nationality input {
    /*Box model*/
    height: 51.13px;
    padding: 15px 0 15px 15px;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 32px;
}

/*================NATURALIDADE===================*/

.naturality {
    /* background-color: darkgray; */
    /*Box model*/
    width: auto;
    height: auto;
    /* padding: 5px; */
    margin-top: 0.902rem;

    /* Font settings */ 
    font-size: 4.5rem;
}

.naturality .naturality-content {
    /* background-color: #1E3A5F; */
    width: 100%;
    /* padding: 0.5rem; */

    /* Flex box */
    display: flex;
    /* main axis direction */
    flex-direction: row;
    gap: 1rem;
}

/* City */
.naturality .naturality-content #city {
    /*Box model*/
    width: 77.7rem;
    height: 51.13px;
    padding: 0 0 0 15px;
    border-radius: 25px;
    border: none;

    /* Font settings */
    font-size: 3.2rem;
    color: #BDBCBC;
}

/* UF */
.naturality .naturality-content #uf {
    /*Box model*/
    /* width: 98rem; */
    width: 25rem;
    height: 51.13px;
    padding: 0 0 0 15px;
    border: none;
    border-radius: 2.5rem;
    

    /* Font settings */
    font-size: 3.2rem;
    color: #BDBCBC;
}

/* Cellphone number */

/* Cellphone number settings */
.telefone {
    /*background-color: deepskyblue;*/
    margin-top: 25px;
    font-size: 45px;
}

/* Input title settings */
.telefone label {
    cursor: pointer;
    margin-bottom: 5px;
}

/* Input settings */
.telefone input {
    height: 51.13px;
    padding: 15px 0 18px 15px;
    border-radius: 25px;
    border: none;
    font-size: 32px;
}

/*================E-MAIL===================*/

/* General email settings */
.email {
    /*background-color: brown;*/ 
    margin-top: 34.09px;
}

/* Input title's settings */
.email label {
    font-size: 45px;
    margin-bottom: 3px; 
}

/* Input settings */
.email input {
    height: 51.13px;
    padding: 0 0 7px 10px; 
    border-radius: 25px;
    border: none;
    font-size: 32px;
}

/*================ADRESS===================*/ 

/* Fieldset adress */
.adress {
    /*background-color: darkgrey;*/
    width: 1050px;
    height: auto;
    /* border: none; */
    margin-bottom: 41.73px; 

    display: flex;
    flex-direction: column;
    /*Eixo transversal*/
    align-items: center;   
}

/* Fieldset's title */
.legenda-3 { 
    margin: 0 0 0 30px; 
    
    font-size: 55px;
    font-weight: bold; 
}

/* Paragraph's duos */
.duplas {
    width: 980px;
    height: auto;
    /*padding: 5px;*/
    display: flex;
    flex-direction: row;
    /*Eixo principal*/
    justify-content: center;

    gap: 11.04px;  
}

/* Duo's visual identification */
.dupla-a {
    /*background-color: lightgreen;*/
    margin-top: 8px; 
}
.dupla-b {
    /*background-color: yellow;*/
    margin-top: 4.74px; 
}
.dupla-c {
    /*background-color: lightblue;*/
    margin-top: 4.74px; 
}

/* Paragraphs */ 

/* General adress inputs settings */
.adress .duplas p {
    width: 490px;
    display: flex;
    flex-direction: column;

    /*background-color: darkviolet;*/ 
}

/*================CEP===================*/
.adress .dupla-a .cep {
    font-size: 45px;
}

.adress .dupla-a .cep label {
    cursor: pointer;
}

.adress .dupla-a .cep input {
    height: 51.13px;
    padding: 0 0 0 15px; 
    border: none;
    border-radius: 25px;
    font-size: 32px;
}

/*================Número===================*/
.adress .dupla-a .numero {
    font-size: 45px; 
}

.adress .dupla-a .numero label {
    cursor: pointer; 
}

.adress .dupla-a .numero input {
    height: 51.13px;
    padding: 0 0 0 15px; 
    border: none;
    border-radius: 25px;
    font-size: 32px;
}

/*================Rua===================*/
.adress .dupla-b .rua {
    font-size: 45px;
}

.adress .dupla-b .rua label {
    cursor: pointer; 
}

.adress .dupla-b .rua input {
    height: 51.13px;
    padding: 0 0 0 15px; 
    border: none; 
    border-radius: 25px;
    font-size: 32px;
}

/*================Bairro===================*/
.adress .dupla-b .bairro {
    font-size: 45px; 
}

.adress .dupla-b .bairro label {
    cursor: pointer; 
}

.adress .dupla-b .bairro input {
    height: 51.13px;
    padding: 0 0 0 15px;  
    border: none;
    border-radius: 25px;
    font-size: 32px;
}

/*================Cidade===================*/
.adress .dupla-c .cidade {
    font-size: 45px; 
}

.adress .dupla-c .cidade label {
    cursor: pointer; 
}

.adress .dupla-c .cidade input {
    height: 51.13px;
    padding: 0 0 0 15px; 
    border: none;
    border-radius:25px; 
    font-size: 32px;
}

/*================Estado===================*/

.adress .dupla-c .estado {
    font-size: 45px;
}

.adress .dupla-c .estado label {
    cursor: pointer; 
}

.adress .dupla-c .estado input {
    height: 51.13px;
    padding: 0 0 0 15px; 
    border: none;
    border-radius: 25px;
    font-size: 32px;
}

/*================Complemento===================*/ 
.adress .complemento {
    /*background-color: darkolivegreen;*/ 
    width: 980px;
    height: auto;
    margin-top: 8.93px;
    font-size: 45px;

    display: flex; 
    flex-direction: column;
}

.adress .complemento label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.adress .complemento input {
    height: 51.13px;
    padding: 0 0 0 15px;
    border: none;
    border-radius: 25px;
    font-size: 32px;
}

/*================CONTACT===================*/

/* Contact general settings */
.contact {
    width: 1050px;
    height: auto;
    /* border: none; */
    margin-bottom: 46.26px; 

    display: flex;
    flex-direction: column;  
    /*Eixo transversal*/
    align-items: center;

    /*background-color: forestgreen;*/
}

/* Fieldset's title */
.contacts-legend {
    padding: 0 0 0 30px;

    font-size: 70px;
    font-weight: bold;

    /*background-color: gray;*/
}

/* General contact paragraph settings */
.contact div {
    display: flex;
    flex-direction: column;

    width: 980px;
    height: auto;
}

/*================HEALTH INFO===================*/
.health-info {
    background-color: darkslategray;
    width: 100%;
    height: auto;

    /* padding: 5px; */
}

.health-info .legenda-4 {
    background-color: black;
    padding: 0 0 0 3rem;

    font-size: 5.5rem;
    font-weight: bold;
}

/* Does the student has any DISABILITY? */
.health-info .pcd-yn {
    background-color: aqua;
    margin-top: 4.2rem;
}

.health-info .pcd-yn .pcd-title {
    background-color: darkblue;

    /* Box model */
    margin-left: 3rem;

    /* Font settings */
    font-size: 4.5rem;
}

.health-info .pcd-yn .pcd-options {
    background-color: dodgerblue;

    /*Box model*/
    width: auto;
    height: auto;

    margin: 3.4rem 0 0 3rem;

    /* Flex box */
    display: flex;
    /* main axis direction */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /* cross-axis */
    align-items: center; 
}

/* General label settings */
.health-info .pcd-yn .pcd-options label {
    background-color: brown;
    
    /* Box model */
    margin-left: 0.3rem;

    /* Font settings */
    font-size: 2.5rem;

    /* Cursor settings */
    cursor: pointer;
}

/* General input settings */
.health-info .pcd-yn .pcd-options input {
    /*Box model*/
    width: 2.5rem;
    height: 3rem;
}

/* Yes or no */
.health-info .pcd-yn .pcd-options .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.health-info .pcd-yn .pcd-options .option-no {
    margin-left: 1rem;
}

/* Disability name */
.health-info .pcd-yn #disa-name {
    /* background-color: yellow; */

    display: block;

    width: 98rem;
    height: 5.1rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    margin: 2.287rem 0 0 3rem;
    
    font-size: 3.2rem;
}


/* Medica report file */
.health-info .pcd-yn .medical-report {
    background-color: blue;
    margin: 2.287rem 0 0 3rem;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.health-info .pcd-yn .medical-report span {
    font-size: 4rem;
}

.health-info .pcd-yn .medical-report input {
    background-color: #FFFFFF;

    /* width: 27.8rem; */
    width: 98rem;
    padding: 0.5rem;
    /* border: 3px solid black; */
    border-radius: 2.5rem;
    margin-top: 1.2rem;

    display: block;

    font-size: 1.6rem;
    color: black;
}

.health-info .pcd-yn .medical-report input::file-selector-button {
    background-color: transparent;
    border: none;

    font-size: 3.2rem;
    font-family: 'arial-rounded-mt-bold-regular', Arial, Helvetica, sans-serif;
    color: #BDBCBC;

    cursor: pointer;
}

.health-info .pcd-yn .medical-report input::file-selector-button:hover {
    color: #000000;
}





/* Does the student has any ALLERGY? */
.health-info .allergy-yn {
    background-color: aqua;
    margin-top: 4.2rem;
}

.health-info .allergy-yn .allergy-title {
    background-color: darkblue;

    /* Box model */
    margin-left: 3rem;

    /* Font settings */
    font-size: 4.5rem;
}

.health-info .allergy-yn .allergy-options {
    background-color: dodgerblue;

    /*Box model*/
    width: auto;
    height: auto;

    margin: 3.4rem 0 0 3rem;

    /* Flex box */
    display: flex;
    /* main axis direction */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /* cross-axis */
    align-items: center; 
}

/* General label settings */
.health-info .allergy-yn .allergy-options label {
    background-color: brown;
    
    /* Box model */
    margin-left: 0.3rem;

    /* Font settings */
    font-size: 2.5rem;

    /* Cursor settings */
    cursor: pointer;
}

/* General input settings */
.health-info .allergy-yn .allergy-options input {
    /*Box model*/
    width: 2.5rem;
    height: 3rem;
}

/* Yes or no */
.health-info .allergy-yn .allergy-options .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.health-info .allergy-yn .allergy-options .option-no {
    margin-left: 1rem;
}

/* Disability name */
.health-info .allergy-yn #allergy-name {
    /* background-color: yellow; */

    display: block;

    width: 98rem;
    height: 5.1rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    margin: 2.287rem 0 0 3rem;
    
    font-size: 3.2rem;
}


/* MedicaL report file */
.health-info .allergy-yn .medical-report {
    background-color: blue;
    margin: 2.287rem 0 0 3rem;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.health-info .allergy-yn .medical-report span {
    font-size: 4rem;
}

.health-info .allergy-yn .medical-report input {
    background-color: #FFFFFF;

    /* width: 27.8rem; */
    width: 98rem;
    padding: 0.5rem;
    border: 3px solid black;
    border-radius: 2.5rem;
    margin-top: 1.2rem;

    display: block;

    font-size: 1.6rem;
    color: black;
}

.health-info .allergy-yn .medical-report input::file-selector-button {
    background-color: transparent;
    border: none;

    font-size: 3.2rem;
    font-family: 'arial-rounded-mt-bold-regular', Arial, Helvetica, sans-serif;
    color: #BDBCBC;

    cursor: pointer;
}

.health-info .allergy-yn .medical-report input::file-selector-button:hover {
    color: #000000;
}

/* GENERAL INFO */
.general-info {
    background-color: aqua;
    margin: 3.17rem 0 0 0;

    display: flex;
    flex-direction: column;
}

.gi-title {
    font-size: 4rem;
    margin: 0 0 1rem 3rem;
}

#gi-textarea {
    width: 98rem;
    height: 30rem;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin: 0 0 0 3rem;
    font-size: 2rem;
}

/* STUTENT'S PHOTO */

.students-photo {
    background-color: black;
    margin: 9.8rem 0 0 0;
}

.sf-title {
    background-color: aqua;
    font-size: 5.5rem;
    margin: 0 0 0 3rem;
}

.students-photo div {
    background-color: lightgray;
    padding: 1.6rem 0 0 0;
    margin: 0 0 0 3rem;
}

.students-photo span {
    background-color: blue;
    font-size: 2.5rem;
}


.students-photo input {
    background-color: #FFFFFF;

    /* width: 27.8rem; */
    width: 98rem;
    padding: 0.5rem;
    border: none;
    border-radius: 2.5rem;
    margin-top: 1.2rem;

    display: block;

    font-size: 1.6rem;
    color: black;
}

.students-photo input::file-selector-button {
    background-color: transparent;
    border: none;

    font-size: 3.2rem;
    font-family: 'arial-rounded-mt-bold-regular', Arial, Helvetica, sans-serif;
    color: #BDBCBC;

    cursor: pointer;
}

.students-photo input::file-selector-button:hover {
    color: #000000;
}

















































/*===============Botão CONTINUAR===================*/

.botao-enviar button {
    width: 980px;
    height: 51.13px;  
    border: none;
    border-radius: 25px;
    
    background-color: #1E3A5F;
    color: white; 
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    /*Eixo principal*/
    justify-content: center;
    /*Eixo transversal*/
    align-items: center;  
}

.botao-enviar button:hover {
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #DA1F81;
}











































/*===============RODAPÉ===================*/
.rodape {
    height: 100px; 
    border-top: 1px solid black;
    margin-top: 50px;

    background-color: #DA1F81; 
    color: white;
    font-size: 30px; 


    display: flex;
    flex-direction: row;
    /*Eixo principal*/
    justify-content: space-around;
    /*Eixo transversal*/
    align-items: center; 
}